@charset "UTF-8";

body {
-webkit-print-color-adjust: exact;
} 

#intro { 
	display:none;
}

.sp_news, .sp_view, .sp_menu { 
	display: none;
}

.f_inner ,.inner { width: 1000px;}

.page_inner  {
    width: 96%;
 }
 
 .f_banner_box01 {
    width: 40%;
}

.f_banner_box02 {
    width: 30%;
}
.f_banner_box03 {
    width: 30%;
}
.nav { display: none;}