@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap);
body {
  cursor: none !important;
  /*もともとあるカーソルは非表示に*/
}

.top {
  overflow: hidden;
  /*カーソル要素*/
  /*ちょっと遅れてついてくるストーカー要素*/
}

.top input[type="radio"] {
  display: none;
}

.top input[type="radio"]#section1:checked ~ nav label[for="section1"] {
  background-color: #fff;
}

.top input[type="radio"]#section1:checked ~ section:nth-of-type(1) {
  z-index: 1;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.top input[type="radio"]#section1:checked ~ .cover {
  background-color: #000;
}

.top input[type="radio"]#section2:checked ~ nav label[for="section2"] {
  background-color: #fff;
}

.top input[type="radio"]#section2:checked ~ section:nth-of-type(2) {
  z-index: 1;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.top input[type="radio"]#section2:checked ~ .cover {
  background-color: #000;
}

.top input[type="radio"]#section3:checked ~ nav label[for="section3"] {
  background-color: #fff;
}

.top input[type="radio"]#section3:checked ~ section:nth-of-type(3) {
  z-index: 1;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.top input[type="radio"]#section3:checked ~ .cover {
  background-color: #000;
}

.top input[type="radio"]#section4:checked ~ nav label[for="section4"] {
  background-color: #fff;
}

.top input[type="radio"]#section4:checked ~ section:nth-of-type(4) {
  z-index: 1;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.top input[type="radio"]#section4:checked ~ .cover {
  background-color: #000;
}

.top .toppage .nav {
  position: fixed;
  z-index: 2;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .top .toppage .nav {
    top: 80%;
  }
}

.top .toppage .nav__item {
  width: 12px;
  height: 12px;
  display: block;
  margin: 12px auto;
  border: solid 2px #fff;
  border-radius: 50%;
  cursor: pointer;
}

.top .toppage .nav__item:hover {
  background-color: #fff;
}

.top .toppage section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.top .toppage section:nth-of-type(1) {
  background: #000;
}

.top .toppage section:nth-of-type(2) {
  background: #000;
}

.top .toppage section:nth-of-type(3) {
  background: #000;
}

.top .toppage section:nth-of-type(4) {
  background: #000;
}

.top .toppage .cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.top .toppage h1 {
  font-size: 6em;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  color: #000;
  width: 100%;
}

.top .toppage h1 img {
  width: 90%;
  max-width: 100%;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.top html,
.top body {
  height: 100%;
}

.top body {
  color: white;
}

.top a {
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.top .glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .top .glitch {
    font-size: 50px;
  }
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(78px, 9999px, 4px, 0);
  }
  5% {
    clip: rect(92px, 9999px, 16px, 0);
  }
  10% {
    clip: rect(18px, 9999px, 34px, 0);
  }
  15% {
    clip: rect(53px, 9999px, 62px, 0);
  }
  20% {
    clip: rect(7px, 9999px, 33px, 0);
  }
  25% {
    clip: rect(49px, 9999px, 13px, 0);
  }
  30% {
    clip: rect(60px, 9999px, 83px, 0);
  }
  35% {
    clip: rect(98px, 9999px, 23px, 0);
  }
  40% {
    clip: rect(95px, 9999px, 1px, 0);
  }
  45% {
    clip: rect(88px, 9999px, 49px, 0);
  }
  50% {
    clip: rect(88px, 9999px, 87px, 0);
  }
  55% {
    clip: rect(35px, 9999px, 50px, 0);
  }
  60% {
    clip: rect(79px, 9999px, 8px, 0);
  }
  65% {
    clip: rect(53px, 9999px, 28px, 0);
  }
  70% {
    clip: rect(100px, 9999px, 38px, 0);
  }
  75% {
    clip: rect(99px, 9999px, 46px, 0);
  }
  80% {
    clip: rect(89px, 9999px, 84px, 0);
  }
  85% {
    clip: rect(7px, 9999px, 35px, 0);
  }
  90% {
    clip: rect(92px, 9999px, 25px, 0);
  }
  95% {
    clip: rect(69px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(82px, 9999px, 31px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(78px, 9999px, 4px, 0);
  }
  5% {
    clip: rect(92px, 9999px, 16px, 0);
  }
  10% {
    clip: rect(18px, 9999px, 34px, 0);
  }
  15% {
    clip: rect(53px, 9999px, 62px, 0);
  }
  20% {
    clip: rect(7px, 9999px, 33px, 0);
  }
  25% {
    clip: rect(49px, 9999px, 13px, 0);
  }
  30% {
    clip: rect(60px, 9999px, 83px, 0);
  }
  35% {
    clip: rect(98px, 9999px, 23px, 0);
  }
  40% {
    clip: rect(95px, 9999px, 1px, 0);
  }
  45% {
    clip: rect(88px, 9999px, 49px, 0);
  }
  50% {
    clip: rect(88px, 9999px, 87px, 0);
  }
  55% {
    clip: rect(35px, 9999px, 50px, 0);
  }
  60% {
    clip: rect(79px, 9999px, 8px, 0);
  }
  65% {
    clip: rect(53px, 9999px, 28px, 0);
  }
  70% {
    clip: rect(100px, 9999px, 38px, 0);
  }
  75% {
    clip: rect(99px, 9999px, 46px, 0);
  }
  80% {
    clip: rect(89px, 9999px, 84px, 0);
  }
  85% {
    clip: rect(7px, 9999px, 35px, 0);
  }
  90% {
    clip: rect(92px, 9999px, 25px, 0);
  }
  95% {
    clip: rect(69px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(82px, 9999px, 31px, 0);
  }
}

.top .glitch:after {
  content: none;
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
  width: 100%;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(34px, 9999px, 26px, 0);
  }
  5% {
    clip: rect(23px, 9999px, 14px, 0);
  }
  10% {
    clip: rect(77px, 9999px, 73px, 0);
  }
  15% {
    clip: rect(61px, 9999px, 99px, 0);
  }
  20% {
    clip: rect(26px, 9999px, 60px, 0);
  }
  25% {
    clip: rect(38px, 9999px, 38px, 0);
  }
  30% {
    clip: rect(98px, 9999px, 90px, 0);
  }
  35% {
    clip: rect(19px, 9999px, 94px, 0);
  }
  40% {
    clip: rect(85px, 9999px, 11px, 0);
  }
  45% {
    clip: rect(67px, 9999px, 89px, 0);
  }
  50% {
    clip: rect(23px, 9999px, 96px, 0);
  }
  55% {
    clip: rect(88px, 9999px, 74px, 0);
  }
  60% {
    clip: rect(93px, 9999px, 69px, 0);
  }
  65% {
    clip: rect(75px, 9999px, 93px, 0);
  }
  70% {
    clip: rect(27px, 9999px, 42px, 0);
  }
  75% {
    clip: rect(42px, 9999px, 19px, 0);
  }
  80% {
    clip: rect(99px, 9999px, 54px, 0);
  }
  85% {
    clip: rect(39px, 9999px, 68px, 0);
  }
  90% {
    clip: rect(85px, 9999px, 95px, 0);
  }
  95% {
    clip: rect(98px, 9999px, 98px, 0);
  }
  100% {
    clip: rect(36px, 9999px, 83px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(34px, 9999px, 26px, 0);
  }
  5% {
    clip: rect(23px, 9999px, 14px, 0);
  }
  10% {
    clip: rect(77px, 9999px, 73px, 0);
  }
  15% {
    clip: rect(61px, 9999px, 99px, 0);
  }
  20% {
    clip: rect(26px, 9999px, 60px, 0);
  }
  25% {
    clip: rect(38px, 9999px, 38px, 0);
  }
  30% {
    clip: rect(98px, 9999px, 90px, 0);
  }
  35% {
    clip: rect(19px, 9999px, 94px, 0);
  }
  40% {
    clip: rect(85px, 9999px, 11px, 0);
  }
  45% {
    clip: rect(67px, 9999px, 89px, 0);
  }
  50% {
    clip: rect(23px, 9999px, 96px, 0);
  }
  55% {
    clip: rect(88px, 9999px, 74px, 0);
  }
  60% {
    clip: rect(93px, 9999px, 69px, 0);
  }
  65% {
    clip: rect(75px, 9999px, 93px, 0);
  }
  70% {
    clip: rect(27px, 9999px, 42px, 0);
  }
  75% {
    clip: rect(42px, 9999px, 19px, 0);
  }
  80% {
    clip: rect(99px, 9999px, 54px, 0);
  }
  85% {
    clip: rect(39px, 9999px, 68px, 0);
  }
  90% {
    clip: rect(85px, 9999px, 95px, 0);
  }
  95% {
    clip: rect(98px, 9999px, 98px, 0);
  }
  100% {
    clip: rect(36px, 9999px, 83px, 0);
  }
}

.top .glitch:before {
  content: none;
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  width: 100%;
}

.top .glitch:hover,
.top .glitch:hover::before,
.top .glitch:hover::after {
  content: attr(data-text);
  font-size: 150px;
}

.top a:hover,
.top label:hover,
.top input:hover {
  cursor: none !important;
}

.top #cursor {
  position: fixed;
  /*丸の大きさと色の指定*/
  background: #fff;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  /*真ん中にくるようにマイナスマージンで調整*/
  z-index: 102;
  /*一番手前に来るように*/
  pointer-events: none;
  /*クリックできなくなるのを防ぐため。noneで対応*/
  opacity: 0;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  /*アニメーションの秒数指定*/
}

.top #stalker {
  position: fixed;
  /*丸の大きさと色の指定*/
  background: #d4ff00;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: -30px 0 0 -30px;
  /*真ん中にくるようにマイナスマージンで調整*/
  z-index: 100;
  /*カーソルの後ろに来るように*/
  pointer-events: none;
  /*クリックできなくなるのを防ぐため。noneで対応*/
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  /*アニメーションの秒数指定*/
}

.top #cursor.active,
.top #stalker.active {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}
/*# sourceMappingURL=top.css.map */